<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Service tags -->
        <meta name="author" content="Andrew Zinko">
        <meta name="keywords" content="Lviv, city, news, photos, interesting, travel">
        <meta name="description" content="Львів - місто мрії! Пориньте у нові враження та відкриття.">

        <!-- Fonts (Google Fonts) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/138d27cce6.js"></script>

        {% load static %}

        <!-- CSS File -->
        <link rel="stylesheet" href="{% static 'news/css/style.css' %}">

        <!-- Vendor CSS Files -->
        <link rel="stylesheet" href="{% static 'news/vendor/owlcarousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'news/vendor/owlcarousel/owl.theme.default.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Favicons -->
        <link href="{% static 'news/img/logo.svg' %}" rel="icon">
        <link href="{% static 'news/img/logo.svg' %}" rel="apple-touch-icon">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Loader animation -->
        <div class="loader">
            <div class="main">
                <span class="a loader-span" style="--i:27"></span>
                <span class="b loader-span" style="--i:27"></span>
                <span class="c loader-span" style="--i:27"></span>
                <span class="d loader-span" style="--i:27"></span>
                <span class="e loader-span" style="--i:27"></span>
            </div>
        </div>
        <!-- /Loader animation -->

        <!-- Mobile menu -->
        <header class="navbar fixed-top navbar-background">
            <div class="logo-container">
                <a href="index.html">
                    <img src="{% static 'news/img/logo.svg' %}" alt="Logo" class="logo-svg">
                    <h3 class="logo-text dark-nav-logo">lviv.info</h3>
                </a>
            </div>
            <div class="menu-mobile" data-mobile-menu-open>
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <!-- /Mobile menu -->

        <div class="row">
            <!-- Main menu (fixed left) -->
            <div class="col-3" id="main-menu">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-menu">
                    <div class="logo-exit">
                        <a href="{% url 'index' %}" class="logo-container">
                        <img src="{% static 'news/img/logo.svg' %}" alt="Logo">
                        <span class="fs-4">lviv.info</span>
                        </a>
                        <i class="fa-solid fa-xmark" data-mobile-menu-exit></i>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link active text-white" aria-current="page">
                            <i class="fa-solid fa-house"></i>
                            <span>Основне</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'recommended' %}" class="nav-link text-white" aria-current="page">
                            <i class="fa-solid fa-star"></i>
                            <span>Обране редакцією</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about-us' %}" class="nav-link text-white" aria-current="page">
                            <i class="fa-solid fa-address-card"></i>
                            <span>Про нас</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="login">
                        <a href="/admin" class="nav-link text-white">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <span>Увійти</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Main menu (fixed left) -->

            <!-- Content of page -->
            <div class="col-md-9 col-sm-12" id="main-content">
                <!-- Wrapper for content -->
                <div class="wrapper">
                    {% block bodycontent %}
                    {% endblock %}
                </div>
                <!-- /Wrapper for content -->

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="logo-footer">
                                <div class="logo-container">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'news/img/logo.svg' %}" alt="Logo" class="logo-svg">
                                        <h3 class="logo-text logo-text-footer">lviv.info</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="author col-md-6">
                            <p>
                                Роботу виконав <a href="{% url 'about-me' %}">Андрій Зінько</a>, КН-210
                                <br>
                                2022 © Всі права захищено.
                            </p>
                            <div class="footer-icons">
                                <a href="#">
                                <i class="fa-brands fa-telegram"></i>
                                </a>
                                <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="#">
                                <i class="fa-brands fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->
            </div>
            <!-- /Content of page -->

            <!-- Clock's time script-->
            <script src="{% static 'news/js/correct-time.js' %}"></script>

            <!-- Vendor scripts -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'news/vendor/owlcarousel/owl.carousel.js' %}"></script>

            <!-- Main script + vendor elements init -->
            <script src="{% static 'news/js/main.js' %}"></script>
            <script src="{% static 'news/js/vendor-script-init.js' %}"></script>
        </div>
    </body>
</html>
